<p>
  <button class="btn btn-default btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
    New API Key
  </button>
</p>

<div style="margin: 25px 0 0 0;">

  <table class="table">
    <tr>
      <td>
        <span style="font-size: 10pt">
          8bbaf529881c3824163c99c75072b7885211aa6952826d59
        </span>
        <br>
        <span style="font-size: 8pt; color: gray; margin-right: 10px;">
          The quick brown fox jumps over the lazy dog
          <br>
          Created: 28/08/1984 / Last Used: 28/01/2014
        </span>
        <br>
        <div class="btn-group" style="float: right;">
          <button type="button" class="btn btn-default btn-xs btn-success dropdown-toggle" data-toggle="dropdown">
            Enabled
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-pause"></span> Disable</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Description</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span style="font-size: 10pt">
          8bbaf529881c3824163c99c75072b7885211aa6952826d59
        </span>
        <br>
        <span style="font-size: 8pt; color: gray; margin-right: 10px;">
          Created: 28/08/1984 / Last Used: 28/01/2014
        </span>
        <br>
        <div class="btn-group" style="float: right;">
          <button type="button" class="btn btn-default btn-xs btn-danger dropdown-toggle" data-toggle="dropdown">
            Disabled
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-play"></span> Enable</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Description</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
 
</div>